In [1]:
#!pip install pymysql
#!pip install sqlalchemy

In [2]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.metrics import classification_report, f1_score, cohen_kappa_score

import getpass  # To get the password without showing the input

In [3]:
password = getpass.getpass()

········

In [4]:
#print(password)

In [5]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)
data = pd.read_sql_query('SELECT * FROM actor', engine)
data.head()

   actor_id first_name     last_name         last_update
0         1   PENELOPE       GUINESS 2006-02-15 04:34:33
1         2       NICK      WAHLBERG 2006-02-15 04:34:33
2         3         ED         CHASE 2006-02-15 04:34:33
3         4   JENNIFER         DAVIS 2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33

In [6]:
data.shape

(200, 4)

In [7]:
data.dtypes

actor_id                int64
first_name             object
last_name              object
last_update    datetime64[ns]
dtype: object

In [8]:
#1. How many distinct (different) actors' last names are there?

In [9]:
query = '''select COUNT(*) last_name
from actor;'''

data = pd.read_sql_query(query, engine)
data.head()

   last_name
0        200

In [10]:
# Add an additional column day_type with values 'weekend' and 'workday' depending on the rental day of the week. 
# Not sure why it didn´t work, was the same code that I used in previous lab

In [33]:
query = '''SELECT *
         'CASE
          WHEN weekday(rental_date) < 6 then 'workday'
          ELSE 'weekend'
          END AS 'day_type'
         FROM rental;'''

data = pd.read_sql_query(query, engine)
data.head()

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''CASE\n          WHEN weekday(rental_date) < 6 then 'workday'\n          ELSE 'wee' at line 2")
[SQL: SELECT *
         'CASE
          WHEN weekday(rental_date) < 6 then 'workday'
          ELSE 'weekend'
          END AS 'day_type'
         FROM rental;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
SELECT *,
    CASE
        WHEN weekday(rental_date) < 6 then 'workday'
        ELSE 'weekend'
        END AS 'day_type'
    FROM sakila.rental;

In [11]:
# Get all films with ARMAGEDDON in the title. 
# I tried to use first one % in each side but I got an error and than afyter google it phython accepted %% in each side

In [12]:
query = '''select title
from film
WHERE title LIKE '%%Armageddon%%'
;'''

data = pd.read_sql_query(query, engine)
data.head(10)

                   title
0        ARMAGEDDON LOST
1    LADYBUGS ARMAGEDDON
2       METAL ARMAGEDDON
3    MOSQUITO ARMAGEDDON
4  STAGECOACH ARMAGEDDON
5      STEERS ARMAGEDDON

In [13]:
# Get 10 the longest films.

In [14]:
query = '''select title, length
from film
ORDER BY length DESC
limit 10
;'''

data = pd.read_sql_query(query, engine)
data.head(10)

                title  length
0      DARN FORRESTER     185
1        POND SEATTLE     185
2       CHICAGO NORTH     185
3       MUSCLE BRIGHT     185
4        WORST BANGER     185
5         GANGS PRIDE     185
6  SOLDIERS EVOLUTION     185
7           HOME PITY     185
8   SWEET BROTHERHOOD     185
9      CONTROL ANTHEM     185

In [15]:
# How many films include Behind the Scenes content?

In [16]:
query = '''SELECT COUNT(film_id) AS "n_movies_behindthescenes" 
from film
WHERE special_features LIKE '%%Behind the Scenes%%'
;'''

data = pd.read_sql_query(query, engine)
data.head(10)

   n_movies_behindthescenes
0                       538

In [17]:
# Which kind of movies (rating) have a mean duration of more than two hours?

In [18]:
query = '''SELECT rating, length
from film
WHERE length > 120
GROUP BY rating
;'''

data = pd.read_sql_query(query, engine)
data.head()

  rating  length
0      G     130
1     PG     169
2  NC-17     180
3      R     129
4  PG-13     153

In [19]:
# Rank films by length (filter out the rows that have nulls or 0s in length column). 
# In your output, only select the columns title, length, and the rank.

In [20]:
query = '''SELECT title,length,rating, row_number() OVER (
ORDER BY length DESC ) ranking
FROM sakila.film
;'''

data = pd.read_sql_query(query, engine)
data.head()

            title  length rating  ranking
0   CHICAGO NORTH     185  PG-13        1
1  CONTROL ANTHEM     185      G        2
2  DARN FORRESTER     185      G        3
3     GANGS PRIDE     185  PG-13        4
4       HOME PITY     185      R        5